*{
    
    color: #222;
    font-family: 'Quicksand', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    text-justify: auto;
}
body{
  background-color: #fff;
    padding: 2%;
    width: 100%;
    margin: auto;
    padding: 0;
    display: block;
    font-size: 13px;
}
/* ---HEADER---*/
header{
    width: 100%;
    display: inline-block;
    text-align:center;
    background-image: url("http://tng.trekcore.com/hd/albums/1x22/symbiosis_hd_145.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #img-header{
    width: 45%;
    padding-top: 15%;
    padding-bottom: 3%;
  }
  #header-title{
    width: 100%;
    min-width: 300px;
    color:#fff;
    background-color: transparent;
    bottom: 0;
    display: block;
  }
  /* NAVBAR */
nav {
  position: fixed;
  display:block;
  width: 100%;
  top: 0;
  right:0;
  background-color:#323a42;
  z-index: 100;
  color:fff;
}
ul{
    list-style-type: none;
    float: right;
    color:#fff;
}
/* --- CONTENT ---*/
#menu a{
  color:#fff;
}
.container{
  width: 80%;
  height: auto;
  margin: auto;
}

#main-info{
  width: 100%;
  padding: 3%;
  color:#fff;
  margin-top:2;
}
  .items-list{
    font-size: 18px;
    float: left;
    list-style-type: none;
    width: 100%;
    padding-bottom: 2%;
    padding:3%;
  }
  .items-list ul{
    margin:3%;
  }
  .items-list img{
    width: 5%;
    height: auto;
  }
section{
    padding: 3%;
}
img {
    border-radius: 5px;
    margin: auto;
    padding: 0;
    display: block;
}
.full-img{
  width: 100%;
}
h1{
    font-size: 6rem;
    text-align: center;
    display: block;
    color: #fff;
    background-color:transparent;
    padding-top: 2rem;   
}
 h2 {
  font-size: 2rem;
  color: #222 !important;
  font-weight: bolder;
}
h3{
  color: #fff;
  background-color:transparent;
  font-style: italic;
  display: inline;
}

 #info{
  display: inline-block;
  width: 100%;
}
.section{
  margin-bottom: 1rem;
}
#first-season{
    width: 100%;
    height: auto;
}
.see-more {
  width: 100%;
  display: block;
  margin: 3% auto 5% auto;

}
.description{
  width: 50%;
  height: auto;
  text-align: left;
  padding:3%;
}
.content{
  width: 100%;
  height: auto;
  display: block;
}
.items-list
li{
  
  text-align: center;
  padding: 2%;
  border-radius: 5px;
  border-style:solid;
  border-width:2px;  
  border-color:#3e7dc0;
  list-style-type: none;
  float: right;
}
.items-list
li{
  text-align: left;
  padding: 1%;
  list-style-type: none;
  border-width: 2px;
  width: 100%;
  border-color: transparent;
  border-radius: 5px;
border-style: solid;
border-width: 2px;
}
.items-list li:hover{
  font-weight: bolder;
  color: #3e7dc0;
font-style: bolder;
}
#characters-img-m{
  width:100%;
}

/* FORM */
#contact-form{
  width: 100%;
  height: auto;
  font-size: 14px;
  padding: 3%;
  color:#fff;
  margin-bottom: 2%;
}
.form-group{
  width: 100%;
  height: auto;
  color:#fff;
}
.form-control{
  font-size: 12px
}


label, textarea, #submit{
  display: block;
 width:100%; 
}
textarea{
  min-height: 100px;
}
#comments{
  margin-bottom: 2%;
  padding: 1%;
  font-size:12px;
}
#email, #surname, #name{
  font-size: 12px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color:#3e7dc0;
    color: white;
  }
  td{
    font-size: 14px;
  }
  /* FOOTER */
  #footer{
    background-color: #323a42;
    width: 100%;
    min-height: 50px;
  }
  #text-footer{
    font-size: 12px;
    color:#fff;
    text-align: center;
    padding: 1%;
  }
  /* PERSONAJES PAGE */
  #container-characters{
    width: 90%;
    padding: 3%;
    display: block;
    background-color:#f2f2f2;
    
  }
  .row{
   
    margin: 2%;
  }

  @media (min-width: 575.98px) { 
    #characters-mobile{
      display: none;
    }
  }
/* 
  /* Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {  }
  
  /* Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) { }
  
  /*Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) { }


  /* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  #img-header {
  width: 70%;
  padding: 8% 0% 5% 0%;
}
header {
  background-image:none;
  background-color:#222;
}
table{
  display: none;
}
article, .info, .video , iframe{
  width: 100%;
  display: block;
} 
.see-more{
  text-align:center;
}
.see-more button{
  width: 70%;
  padding: 2% 0 2% 0;
  margin: 2% 0 2% 0;
}
h2{
  text-align: center ;

}
 .items-list a {
  width: 100%;
} 
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #img-header {
    width: 70%;
    padding: 8% 0% 5% 0%;
}

}
@media (min-width: 576px){
  #
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  #img-header {
    width: 60%;
    padding: 8% 0% 5% 0%;
}
.video, .info{
  width: 100%;
  height: auto;
}
}
@media(min-width:768px){
  #contact-form{
    width: 50%;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  #img-header {
    width: 50%;
    padding: 8% 0% 5% 0%;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }